.idea_modules
PlayStartApp.iml
.classpath
.project
.settings
out
conf/mail.conf
documentation/


logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID


bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
project/project/
app-2.11/
test-2.11/
test/resources/
